<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
<div class="columns is-multiline is-flex m-2">
    <% for (let i = 0; i < allSubjects.length; i++) { %>
<div class="column is-flex-wrap-wrap is-one-quarter">
<ul class="unit">
    <li class="has-text-weight-bold is-size-4 has-text-centered"><%=allSubjects[i].name%></li>

<% if (allSubjects[i].skillLevel === 1) { %>
    <li><span class="has-text-weight-bold">Skill level: </span>◼️</li>
<% } else if (allSubjects[i].skillLevel === 2) { %>
    <li><span class="has-text-weight-bold">Skill level:</span> ◼️ ◼️</li>
<% } else if (allSubjects[i].skillLevel === 3) { %>
    <li><span class="has-text-weight-bold">Skill level:</span> ◼️ ◼️ ◼️</li>
<% } else if (allSubjects[i].skillLevel === 4) { %>
    <li><span class="has-text-weight-bold">Skill level:</span> ◼️ ◼️ ◼️ ◼️</li>
<% } else if (allSubjects[i].skillLevel === 5) { %>
    <li><span class="has-text-weight-bold">Skill level:</span> ◼️ ◼️ ◼️ ◼️ ◼️</li>
<% } %>
    <li><span class="has-text-weight-bold">Study method:</span> <%=allSubjects[i].studyMethod%></li>
    <li><span class="has-text-weight-bold">Next step:</span> <%=allSubjects[i].nextStep%></li>
    <li><span class="has-text-weight-bold">On resume:</span> 
        <% if (allSubjects[i].onResume === true) { %>
         ☑️
        <% } else { %>
        ❌
        <% } %>
    </li>
    <li class="is-flex is-justify-content-space-around"><a href="/study/<%=allSubjects[i].id %>/edit"><button>Edit</button></a><form action="/study/<%= allSubjects[i].id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete"/>
    </form></li>
</ul>
</div>
<% } %>
</div>
</ul>

<footer>
        <p class="has-text-centered"><a href="https://github.com/mollycarroll/travel-list">View on GitHub</a>. © Molly Carroll 2021</p>
</footer>

</body>
</html>